table{
  margin: 25px 0 25px 50px;
  text-align: center;
}
.border table {
  border-collapse: collapse;
  border: none;
}

.border td{
  border: 3px solid #00758f;
  font-size: 2em;
  padding: 15px;
}

.border tr:first-child td {
  border-top: none;
}

.border tr:last-child td {
  border-bottom: none;
}

.border tr td:first-child{
  border-left: none;
}

.border tr td:last-child{
  border-right: none;
}